header {
    padding: 20px;
      margin: 0px;
      text-align: center;
      background: #333;
      top: 0;
      position: sticky;
  }
  
  body {
    background-color:  #202020;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width : 100%;
    margin: 0px;
  }
  
  .wrapper {
      margin: 50px;
    }
    
    .column {
      float: left;
      width: 50%;
    }
    
  h1 {
      font-size: 30px;
        color: #fff;
        text-align: center;
  }

  h2 {
    color: #fff;
    font-size: 25px;
  }
  
  p {
    color: #fff;
  }

  #toolBox {
    outline: 4px solid magenta;
    background-color: #fff;
  }

  #theRoom {
    outline: 4px solid magenta;
    background-color: #000;
  }